body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00BFFF; /* Azul claro */
    color: #000; /* Cor do texto */
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .bus-icon {
    width: 100px;
    height: auto;
  }
  
  .welcome-message {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .instruction {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .input-field {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #007BFF; /* Azul para o botão */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 10px 0;
  }
  
  .forgot-password, .signup-prompt a {
    color: #007BFF; /* Azul para links */
    text-decoration: none;
  }
  
  .signup-prompt {
    margin-top: 20px;
  }